#version=RHEL8
# License agreement
eula --agreed
# Use graphical install
graphical
# Network information
network  --bootproto=dhcp --device=enp5s0 --ipv6=auto --no-activate
network  --bootproto=dhcp --device=enp6s0 --ipv6=auto
network  --bootproto=dhcp --hostname=you.you
ignoredisk --only-use=nvme0n1
# Run the Setup Agent on first boot
firstboot --enable
# Use hard drive installation media
harddrive --dir= --partition=LABEL=CENTOS8

repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-hdd-device/AppStream
# System bootloader configuration
bootloader --location=none
autopart
# Partition clearing information
clearpart --none --initlabel

%packages
@^graphical-server-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp5s0 --ipv6=auto --no-activate
network  --bootproto=dhcp --device=enp6s0 --ipv6=auto
network  --hostname=you.you

# Run the Setup Agent on first boot
firstboot --enable

# System timezone
timezone Asia/Shanghai --isUtc --nontp

# Root password
rootpw --iscrypted $6$X4lRiyLrdPgac3T9$mDGswxnIrW4f01Eord99hPhFDUfTqZDj3o1lOwVTJd.sfhBCz0QTTArxvLCiIcLtNUsBM.69PeyB5pQcDswm61

%addon ADDON_placeholder --enable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
